body {
    background: #2a2438;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    color: #dbd8e3;
    text-rendering: optimizelegibility;
    padding: 20px;
}
a{
    color:#dbd8e3;
}
h1,h2{
    color:#5c5470;
}